.phone_box { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:812px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
}
.background_color { 
	box-shadow:0px 50px 200px rgba(74.80885058641434, 111.36010006070137, 150.87499290704727, 0.5);
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(228.4374949336052, 255, 250.21874696016312, 1) 17.43624657392502%,rgba(217.8125050663948, 235.84281116724014, 255, 1) 73.35760593414307%,rgba(255, 255, 255, 1) 100%) ;
	width:375px;
	height:812px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.date_text { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:63px;
	position:absolute;
	left:65px;
	top:27px;
	font-family:Nunito;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.navigation_bar_wrapper { 
	width:392px;
	height:46px;
	position:absolute;
	left:-15px;
	top:5px;
}
.battery { 
	width:24.32803726196289px;
	height:11.333333015441895px;
	position:absolute;
	left:353.33331298828125px;
	top:17.33333396911621px;
}
.battery_1 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.4000000059604645;
	width:1.328037977218628px;
	height:4px;
	position:absolute;
	left:23px;
	top:3.666666030883789px;
}
.battery_2 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:7.333333492279053px;
	position:absolute;
	left:2px;
	top:2px;
	border-top-left-radius:1.3333333730697632px;
	border-top-right-radius:1.3333333730697632px;
	border-bottom-left-radius:1.3333333730697632px;
	border-bottom-right-radius:1.3333333730697632px;
}
.wifi_signal { 
	background-image: url(images/wifi.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:16.028411865234375px;
	height:11.5px;
	position:absolute;
	left:330.3253479003906px;
	top:18.118431091308594px;
}
.cellular_bars { 
	background-image: url(images/cellular.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:17.770660400390625px;
	height:11.15151596069336px;
	position:absolute;
	left:307.3280029296875px;
	top:18.469697952270508px;
}
.time_wrapper { 
	width:54px;
	height:21px;
	position:absolute;
	left:21px;
	top:7.3333001136779785px;
}
.time_text { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Playfair Display;
	text-align:center;
	font-size:15px;
	letter-spacing:-0.30000001192092896;
}
.home_wrapper { 
	width:43px;
	height:37px;
	position:absolute;
	left:24px;
	top:748px;
}
.home { 
	background-image: url(images/home.jpg);
	width:35.83256530761719px;
	height:30.83363914489746px;
	background-repeat: no-repeat;
	background-size: contain;
	/*max-width:100%;*/
	/*max-height:100%;*/
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	position:absolute;
	/*left:3.5837154388427734px;*/
	/*top:3.083024501800537px;*/
	/*object-fit: contain;*/
}
.file_wrapper { 
	width:47px;
	height:45.081634521484375px;
	position:absolute;
	left:304px;
	top:743px;
}
.file { 
	background-image: url(images/file.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:39.16666793823242px;
	height:33.81122589111328px;
	position:absolute;
	left:3.9166667461395264px;
	top:5.635203838348389px;
}
.umbrella_wrapper { 
	width:35px;
	height:35px;
	position:absolute;
	left:118px;
	top:748px;
}
.umbrella { 
	background-image: url(images/umbrella.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:35.000389099121094px;
	height:35.00038528442383px;
	position:absolute;
	left:0px;
	top:-0.00032290659146383405px;
}
.sun_wrapper { 
	width:46px;
	height:47px;
	position:absolute;
	left:217px;
	top:742px;
}
.sun { 
	background-image: url(images/sun.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width:38.333335876464844px;
	height:39.16666793823242px;
	position:absolute;
	left:3.8294873237609863px;
	top:3.9166667461395264px;
}
